body{
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	align-content: center;
}

section {
	display: flex;
	flex-direction: column;
}

.site-name{
	text-align: center;
}

#quote{
	padding: 10%;
}